/* ------------------------------------------ */
/* BASIC SETUP /*
/* ------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #484747;
    font-family: 'Manjari', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}
/* ------------------------------------------ */
/* REUSABLE COMPONENTS /*
/* ------------------------------------------ */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    
}
.box {
    padding: 3%;
}

/* --------HEADINGS------- */

h1,
h2,h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #d5e0d9;
    font-size: 240%;
    word-spacing: 4px; 
    text-align: center;
}

h2 {
    font-size: 180%;
    word-spacing: 4px;
    text-align: center;
    margin-bottom: 25px;
    
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    
}
h2:after {
    display: block;
    height: 2px;
    background-color: #d35400;
    content: " ";
    width: 130px;
    margin: 0 auto;
    margin-top: 25px;
}

/* scrooling text msg */
.scrolling-text {
    color: #f1c40f;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 10px;
    
    
}


/* --------paragraph------- */
.edu-cont {
    line-height: 145%;
    width: 70%;
    margin-left: 18%;
    text-align: justify;
    #word-spacing: 2px;
    
    
}


.box p {
    font-size: 90%;
    line-height: 145%;
    #word-spacing: 1px;
    text-align: center;
    #letter-spacing: 1px;
}

/* --------icons------- */

.icon-big {
    font-size: 500%;
    display: block;
    color: #ff0076;
    margin-top: 0px;
    float: left;
    margin-left:1%; 
}
.icon-ed {
    font-size: 350%;
    display: block;
    color: #ff6c10;
    margin-bottom: 0px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: rgba(232, 9, 9, 0.8);
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    
    
}


/* --------BUTTONS------- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.5s, border 0.5, color 0.5;
    transition: background-color 0.5s, border 0.5, color 0.5;
}


.btn-full:link,
.btn-full:visited, 
input[type=submit] {
    background-color: #d35400;
    border: 1px solid #d35400;
    color: #fff;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: #d35400;
    border: 1px solid #d35400;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #b14600;
}

.btn-full:hover,
.btn-full:active, 
input[type=submit] {
    border: 1px solid #d35400;

}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #d35400;
    color: #ffffff;
}

/* ------------------------------------------ */
/* HEADER /*
/* ------------------------------------------ */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 14, 14, 0.75)), to(rgba(20, 19, 19, 0.75))), url(img/school/online-min.jpg);
    background-image: linear-gradient(rgba(16, 14, 14, 0.75), rgba(20, 19, 19, 0.75)), url(img/school/online-min.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
    background-attachment: fixed;
    
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*
.hero-text-box p {
    color: #ff0b98; 
    font-size: 12px;
    text-align: center;
}
*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    border-radius: 25%;
    
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
    border-radius: 25%;
   
    
}


/* main nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #d35400;
    
}

/* mobile nav*/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
 
.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* sticky nav*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 17px;
    
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
  }
.sticky .logo { display: none; } 
.sticky .logo-black { display: block; }




/* section-features */
.section-features .edu-cont {
    margin-bottom: 30px;
    
}
.section-features {
    background-color: rgba(173, 255, 47, 0.4);
}




/* The alert message box */

/*
.alert {
  padding: 10px;
  background-color: rgba(76, 244, 54, 0.48); 
  color: black;
  margin-bottom: 0px;
  text-align: center;
    font-size: 20px;
    
} */



/* The close button */

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
  color: black;
} 


/* ------------------------------------------ */
/* GALLARY /*
/* ------------------------------------------ */

.section-gallery {
    padding: 0;
}

.gallary-showcase {
    list-style: none;
    width: 100%;
    
}
.gallary-showcase li {
    display: block;
    float: left;
    width: 25%;
    
}
.gallary-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.gallary-pic img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    
}
.gallary-pic img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
}


/* ------------------------------------------ */
/*  QUOTES /*
/* ------------------------------------------ */

.section-quotes {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.65)),to(rgba(0, 0, 0, 0.65))), url(img/flags,india/flag-of-india-trees.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url(img/flags,india/flag-of-india-trees.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
.section-quotes h3 {
    padding-top: 10px;
    color: #facd11;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: 17px;
    left: -10px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}





/* ------------------------------------------ */
/* MINISTERS /*
/* ------------------------------------------ */
.box img {
    width: 100%;
    height: 275px;
    margin-bottom: 15px;
}

.minister-features {
    margin-bottom: 5px;
    
}
.ministers {
    background-color: rgba(239, 11, 11, 0.42);
    }
.ministers h2 {
    margin-bottom: 0px;
}


/* ------------------------------------------ */
/* CONTACT FORM /*
/* ------------------------------------------ */
.section-contact {
    background-color: rgba(0, 191, 255, 0.63);
}
.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0px;
}

*:focus {outline: none;}


/* ------------------------------------------ */
/* FOOTER/*
/* ------------------------------------------ */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    
    
}
.footer-nav li,
.social-links  li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links  li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links  li a:link,
.social-links  li a:visited {
    text-decoration: none;
    border: 0;
    color: #7e7171;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 155%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    
}

.ion-social-facebook:hover {
    color: #3b5998 
}
.ion-social-twitter:hover {
    color: #00aced 
}
.ion-social-instagram:hover {
    color: #3f729b 
}

footer p {
    color: #7e7171;
    text-align: center;
    margin-top: 30px;
}

/* ------------------------------------------ */
/* ANIMATIONS/*
/* ------------------------------------------ */


.js--wp-1, 
.js--wp-2,
.js--wp-3{
    opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated ,
.js--wp-3.animated {
    opacity: 1;
}

.maveli {
    padding-top: 16%;
    #padding-left: 35%;
    
    
}

.notification {
  #background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  #background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}



/* slide show */

.event {
    background-color: #1f131f;
    

}

* {-webkit-box-sizing:border-box;box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1250px;
  position: relative;
  margin: auto;

}
.eve {
    margin-bottom: 15px;
}
/* Hide the images by default */
.mySlides {
  display: none;
       

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 0px;
  padding: 16px;
  color: #d9d1d1;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 2 2 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f70808;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow:  0 0 3px #FF0000, 0 0 5px #0000FF;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* testimonials */

.testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.81)),to(rgba(0, 0, 0, 0.81))), url(img/alumini.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.81),rgba(0, 0, 0, 0.81)), url(img/alumini.jpg);
    background-size: cover;
    color: #b9b9a4;
    background-attachment: fixed;
    
}

.testimonials cite img {
    height: 90px;
    border-radius: 40%;
    margin-right: 10px;
    vertical-align: bottom;
}


.testimonials h2 {
    color: #b9b9a4;
}


.checked {
  color: gold;
}





